<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件-->
<configuration>
    <!--引入外部配置文件-->
    <properties resource="dp.properties"/>

    <!--配置日志-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    
    <!--其别名-->
    <typeAliases>
        <!--<typeAlias type="com.hhhhhx.pojo.User" alias="User"/>-->
        <package name="com.wgcq.beans"/>
    </typeAliases>
    
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    
    <!--注册mapper-->
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/RoleMapper.xml"/>
        <mapper resource="mapper/FileMapper.xml"/>
        <mapper resource="mapper/FoodMapper.xml"/>
        <mapper resource="mapper/BedMapper.xml"/>
        <mapper resource="mapper/AccessMapper.xml"/>
        <mapper resource="mapper/OrderMapper.xml"/>
        <mapper resource="mapper/OldmanFilePlusMapper.xml"/>
        <mapper resource="mapper/WorkerFilePlusMapper.xml"/>
        <mapper resource="mapper/OrderPlusMapper.xml"/>
    </mappers>
</configuration>
